<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.JS practice</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <div class="SearchArea">
            <h1 class="title">{{ title }}</h1>
            <textarea  v-model="message" name="" id="" cols="60" rows="3"></textarea>
            <input class="btn" type="submit" v-model="SubmitValue" v-on:click="SearchStart">
            <h1>{{ Searchstatus }}</h1>
        </div>

        <div>
            <ul class="SearchResult"></ul>
        </div>
    
    </div>
 
    <script src="js.js"></script>
</body>
</html>